<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>page</title>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <% include partials/nav.ejs %>
    <h1>WOLVERINE IS BEST OF ALL MARVEL COMIC'S CHARACTERS</h1>
    <p>if you don't think so then go fuck yourself</p>
  </body>
</html>
